.mainDiv {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  height: 6.5vh;
  width: 100%;
}

.legalDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.legalDiv img {
  width: 130px;
}

.followUsDiv {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  margin: auto 0;
}

.logoDiv {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.logoDiv img {
  height: 25px;
}
