.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7)),
    linear-gradient(90deg, #2eaed5, #8937e5);
}

a {
  color: white;
  text-decoration: none;
}
.section {
  min-height: 100vh;
  height: min-content;
}

.loadDiv {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loadContent {
  margin: auto;
}

.Loading {
  width: 10%;
  margin: auto;
  animation: loading-spin infinite 5s linear;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
