.App {
  text-align: center;
  color: white;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7)),
    linear-gradient(90deg, #2eaed5, #8937e5);
}

a {
  color: white;
  text-decoration: none;
}
.section {
  min-height: 100vh;
  height: min-content;
}
