.form {
  width: 480px;
  margin: auto;
  min-height: 100vh;
  height: min-content;
}

.formItselft {
  padding: 25px;
  border-bottom: 2px solid rgba(250, 250, 250, 0.5);
}

.title {
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
  height: 100px;
  font-weight: 400;
}

.Button {
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(153, 113, 240, 0.8);
  color: white;
  padding: 5px;
  border: 5px solid rgba(250, 250, 250, 0.5);
}

.createButton {
  border: 2px solid #fff;
  color: rgb(153, 113, 240);
  border-radius: 15px;
  font-size: 1.2em;
  transition: 0.2s ease-out;
  margin: 40px 0;
  border-radius: 10px;
  cursor: pointer;
}

.addButton {
  border: 1px solid #fff;
  color: rgb(153, 113, 240);
  border-radius: 15px;
  font-size: 1.2em;
  transition: 0.2s ease-out;
  margin: 10px 0;
  cursor: pointer;
}

.deleteButton {
  border: 1px solid #fff;
  color: rgb(153, 113, 240);
  border-radius: 50%;
  font-size: 1.2em;
  transition: 0.2s ease-out;
  margin: 10px 20px;
  cursor: pointer;
}
